@use "../../styles/variables.scss";

.form {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: relative;
  top: -1.687rem;

  & > input {
    width: 100%;
    padding: 1rem;
    background-color: variables.$gray-500;
    color: variables.$gray-100;
    border: 1px solid variables.$gray-700;
    border-radius: 0.5rem;
    text-align: start;
    font-size: 1rem;
  }

  & > button {
    padding: 1rem;
    background-color: variables.$blue-dark;
    border-radius: 0.5rem;
    border: 0;
    cursor: pointer;
    transition: all 0.3s;
    color: variables.$gray-100;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.4;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    &:hover {
      background-color: variables.$blue;
      transform: scale(1.03);
    }

    svg {
      width: 1rem;
      height: 1rem;
      color: variables.$gray-100;
    }
  }
}
